:root {
    --primary-color: black;
    --secondary-color: yellow;
    --accent1-color: orange;
    --accent2-color: indigo;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    font-family: var(--heading-font);
    border: 2px, solid;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin-left: 0px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

.section,
h2 {
    bottom: 20px;
    width: 100%;
    margin-left: 0px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}

ul {
    display: flex;
    list-style: none;
}

li {
    flex: 1 1 auto;
}

img,
nav {
    font-family: var(--body-font);
}