main {
    max-width: fit-content;
}

main img {
    border: 20px;
    padding: 10px;
    box-shadow: 10px;
}

nav {
    background-color: darkblue;
    padding: 0;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 150px;
    margin: 80px;
    border: 40px solid #000;
    padding: 40px;
    background-color: black;
    color: brown;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}